* {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: 'Times New Roman';
  font-weight: 600;
}

#book {
  width: 2.5vw;
}

input[type='file']::file-selector-button {
  background-color: #2c2c2c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Times New Roman';
  margin-right: 2ch;
}

input {
  margin-right: 2ch;
  cursor: pointer;
  transition: all 300ms ease;
}

input:hover::file-selector-button {
  background-color: #575656;
  transition: all 300ms ease;
}
input:active::file-selector-button {
  box-shadow: inset 0 0 0 1px #ffffff;
  background-color: #212121;
  transition: all 1ms ease;
}

#fontSize {
  background-color: #2c2c2c;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 8vw;
  font-family: 'Times New Roman';
  margin-right: 2ch;
  transition: all 300ms ease;
}
.inactive {
  width: 3.4vw !important;
}

.active {
  width: 8vw !important;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

button {
  background-color: #2c2c2c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Times New Roman';
  margin-right: 2ch;
  transition: all 300ms ease;
}

button:hover {
  background-color: #575656;
}

button:active {
  background-color: #212121;
  box-shadow: inset 0 0 0 1px #ffffff;
  transition: all 1ms ease;
}

.pWindow {
  position: relative;
  margin-top: 2vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.epub-read-container {
  align-items: center;
  justify-content: center;
  justify-items: center;
}

#epub-contents {
  width: 85%;
  height: 750px;
  background: #000000;
}

.epub-nav {
  margin-top: 20px;
  position: relative;
  z-index: 10;
}
